
<div class="container-fluid">
  <div class="row">
    <div class="col pb-2">
      <button class="btn btn-outline-dark btn-sm" (click)="refresh.emit()">Refresh</button>
      <span class="alert alert-light" role="alert">
          Last update: {{ stats.timestamp | date: 'yyyy-MM-dd HH:mm:ss' }}
      </span>
    </div>
  </div>
  <div class="row">

    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Block Summary</h5>
          <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Blocks Mined
              <span class="badge badge-primary badge-pill">{{ stats.n_blocks_mined }}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Time Between Blocks (minutes)
              <span class="badge badge-primary badge-pill">{{ stats.minutes_between_blocks }}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Bitcoins Mined (BTC)
              <span class="badge badge-primary badge-pill">{{ stats.n_btc_mined }}</span>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Market Summary</h5>
          <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Market Price ($)
              <span class="badge badge-primary badge-pill">{{ stats.market_price_usd | currency: 'USD' }}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Trade Volume ($)
              <span class="badge badge-primary badge-pill">{{ stats.trade_volume_usd  | currency: 'USD' }}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Trade Volume (BTC)
              <span class="badge badge-primary badge-pill">{{ stats.trade_volume_btc }}</span>
            </li>
          </ul>
        </div>
      </div>
    </div>

  </div>

  <div class="row pt-4">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Transaction Summary</h5>
          <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Total Transaction Fees (BTC)
              <span class="badge badge-primary badge-pill">{{ stats.total_fees_btc }}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Number of Transactions
              <span class="badge badge-primary badge-pill">{{ stats.n_tx | number }}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Total Output Volume (BTC)
              <span class="badge badge-primary badge-pill">{{ stats.total_btc_sent }}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Estimated Transaction Volume (BTC)
              <span class="badge badge-primary badge-pill">{{ stats.estimated_btc_sent }}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Estimated Transaction Volume (USD)
              <span class="badge badge-primary badge-pill">{{ stats.estimated_transaction_volume_usd | currency: 'USD' }}</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="row pt-4">

    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Mining Cost</h5>
          <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Total Miners Revenue (USD)
              <span class="badge badge-primary badge-pill">{{ stats.miners_revenue_usd | currency: 'USD' }}</span>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Hash Rate and Electricity Consumption</h5>
          <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Difficulty
              <span class="badge badge-primary badge-pill">{{ stats.difficulty | number }}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Hash Rate (GH/s)
              <span class="badge badge-primary badge-pill">{{ stats.hash_rate | number }}</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <select (change)="chartName.emit($event.target.value)">
        <optgroup label="Currency statistics">
          <option value="total-bitcoins">Bitcoins in circulation</option>
          <option value="market-price">Market Price (USD)</option>
          <option value="market-cap">Market Capitalization</option>
          <option value="trade-volume">USD Exchange Trade Volume</option>
        </optgroup>
        <optgroup label="Block details">
          <option value="blocks-size">Blockchain Size</option>
          <option value="avg-block-size">Average Block Size</option>
          <option value="n-orphaned-blocks">Number Of Orphaned Blocks</option>
          <option value="n-transactions-per-block">Average Number Of Transactions Per Block</option>
          <option value="median-confirmation-time">Median Confirmation Time</option>
        </optgroup>
        <optgroup label="Mining information">
          <option value="hash-rate">Hash Rate</option>
          <option value="difficulty">Difficulty</option>
          <option value="miners-revenue">Miners Revenue</option>
          <option value="transaction-fees">Total Transaction Fees</option>
          <option value="transaction-fees-usd">Total Transaction Fees in USD</option>
          <option value="cost-per-transaction-percent">Cost % of Transaction Volume</option>
          <option value="cost-per-transaction">Cost per Transaction</option>
        </optgroup>
        <optgroup label="Network activity">
          <option value="n-unique-addresses">Number Of Unique Addresses Used</option>
          <option value="n-transactions">Confirmed Transactions Per Day</option>
          <option value="n-transactions-total">Total Number of Transactions</option>
          <option value="transactions-per-second" selected>Transaction Rate</option>
          <option value="mempool-count">Mempool Transaction Count</option>
          <option value="mempool-growth">Mempool Size Growth</option>
          <option value="mempool-size">Mempool Size</option>
          <option value="utxo-count">Number of Unspent Transaction Outputs</option>
          <option value="n-transactions-excluding-popular">Number of Transactions Excluding Popular Addresses</option>
          <option value="n-transactions-excluding-chains-longer-than-100">Number Of Transactions Excluding Chains Longer Than 100</option>
          <option value="output-volume">Output Value</option>
          <option value="estimated-transaction-volume">Estimated Transaction Value</option>
          <option value="estimated-transaction-volume-usd">Estimated USD Transaction Value</option>
        </optgroup>
        <optgroup label="Blockchain Wallet Activity">
          <option value="my-wallet-n-users">Blockchain Wallet Users</option>
        </optgroup>
      </select>
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-secondary" (click)="chartTimeSpan.emit('24h')">1 day</button>
        <button type="button" class="btn btn-secondary" (click)="chartTimeSpan.emit('1week')">1 week</button>
        <button type="button" class="btn btn-secondary" (click)="chartTimeSpan.emit('30days')">30 days</button>
        <button type="button" class="btn btn-secondary" (click)="chartTimeSpan.emit('60days')">60 days</button>
        <button type="button" class="btn btn-secondary" (click)="chartTimeSpan.emit('180days')">180 days</button>
        <button type="button" class="btn btn-secondary" (click)="chartTimeSpan.emit('1year')">1 year</button>
        <button type="button" class="btn btn-secondary" (click)="chartTimeSpan.emit('2year')">2 year</button>
        <button type="button" class="btn btn-secondary" (click)="chartTimeSpan.emit('all')">All time</button>
      </div>
      <ng-container *ngIf="chartData">
          <h5>{{ chartData.name }}</h5>
          <p>{{ chartData.description }}</p>
          <canvas baseChart width="400" height="400"
          [data]="chartData.data"
          [labels]="chartData.labels"
          [options]="lineChartOptions"
          [legend]="false"
          [colors]="lineChartColors"
          [chartType]="'line'"
          ></canvas>
      </ng-container>
    </div>
  </div>
</div>


