<nz-card [nzTitle]="vModel.update | date: 'yyyy-MM-dd HH:mm:ss'" [nzExtra]="refreshTemplate">
  <div nz-card-grid [ngStyle]="{ width: '100%' }">
    <div nz-row [nzGutter]="16">
        <div nz-col [nzSpan]="12">
          <nz-card nzTitle="Block Summary">
            <ul class="list-group">
              <li class="list-group-item d-flex justify-content-between align-items-center">
                Blocks Mined
                <span class="badge badge-primary badge-pill">{{ vModel.data.n_blocks_mined }}</span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                Time Between Blocks (minutes)
                <span class="badge badge-primary badge-pill">{{ vModel.data.minutes_between_blocks }}</span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                Bitcoins Mined (BTC)
                <span class="badge badge-primary badge-pill">{{ vModel.data.n_btc_mined }}</span>
              </li>
            </ul>
          </nz-card>
        </div>
        <div nz-col [nzSpan]="12">
          <nz-card nzTitle="Market Summary">
            <ul class="list-group">
              <li class="list-group-item d-flex justify-content-between align-items-center">
                Market Price ($)
                <span class="badge badge-primary badge-pill">{{ vModel.data.market_price_usd | currency: 'USD' }}</span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                Trade Volume ($)
                <span class="badge badge-primary badge-pill">{{ vModel.data.trade_volume_usd  | currency: 'USD' }}</span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                Trade Volume (BTC)
                <span class="badge badge-primary badge-pill">{{ vModel.data.trade_volume_btc }}</span>
              </li>
            </ul>
          </nz-card>
        </div>
      </div>

      <div nz-row [nzGutter]="16">
        <div nz-col [nzSpan]="12">
          <nz-card nzTitle="Transaction Summary">
            <ul class="list-group">
              <li class="list-group-item d-flex justify-content-between align-items-center">
                Total Transaction Fees (BTC)
                <span class="badge badge-primary badge-pill">{{ vModel.data.total_fees_btc }}</span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                Number of Transactions
                <span class="badge badge-primary badge-pill">{{ vModel.data.n_tx | number }}</span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                Total Output Volume (BTC)
                <span class="badge badge-primary badge-pill">{{ vModel.data.total_btc_sent }}</span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                Estimated Transaction Volume (BTC)
                <span class="badge badge-primary badge-pill">{{ vModel.data.estimated_btc_sent }}</span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                Estimated Transaction Volume (USD)
                <span class="badge badge-primary badge-pill">{{ vModel.data.estimated_transaction_volume_usd | currency: 'USD' }}</span>
              </li>
            </ul>
          </nz-card>
        </div>
        <div nz-col [nzSpan]="12">
          <nz-card nzTitle="Mining Cost">
            <ul class="list-group">
              <li class="list-group-item d-flex justify-content-between align-items-center">
                Total Miners Revenue (USD)
                <span class="badge badge-primary badge-pill">{{ vModel.data.miners_revenue_usd | currency: 'USD' }}</span>
              </li>
            </ul>
          </nz-card>
        </div>
      </div>

      <div nz-row [nzGutter]="16">
        <div nz-col [nzSpan]="24">
          <nz-card nzTitle="Hash Rate and Electricity Consumption">
            <ul class="list-group">
              <li class="list-group-item d-flex justify-content-between align-items-center">
                Difficulty
                <span class="badge badge-primary badge-pill">{{ vModel.data.difficulty | number }}</span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                Hash Rate (GH/s)
                <span class="badge badge-primary badge-pill">{{ vModel.data.hash_rate | number }}</span>
              </li>
            </ul>
          </nz-card>
        </div>
      </div>
  </div>
</nz-card>

<ng-template #refreshTemplate>
  <button nz-button nzType="default" nzShape="circle" (click)="refresh.emit()"><i nz-icon type="reload"></i></button>
</ng-template>
