<nav class="navbar">
  <div></div>
  <div>
    <button class="btn btn-outline-dark btn-sm" (click)="refresh.emit()">Refresh</button>
    <span class="alert" role="alert">
        Last update: {{ vModel.update | date: 'yyyy-MM-dd HH:mm:ss' }}
    </span>
  </div>
</nav>
<div class="container-fluid">
  <div class="row">

    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Block Summary</h5>
          <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Blocks Mined
              <span class="badge badge-primary badge-pill">{{ vModel.data.n_blocks_mined }}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Time Between Blocks (minutes)
              <span class="badge badge-primary badge-pill">{{ vModel.data.minutes_between_blocks }}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Bitcoins Mined (BTC)
              <span class="badge badge-primary badge-pill">{{ vModel.data.n_btc_mined }}</span>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Market Summary</h5>
          <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Market Price ($)
              <span class="badge badge-primary badge-pill">{{ vModel.data.market_price_usd | currency: 'USD' }}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Trade Volume ($)
              <span class="badge badge-primary badge-pill">{{ vModel.data.trade_volume_usd  | currency: 'USD' }}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Trade Volume (BTC)
              <span class="badge badge-primary badge-pill">{{ vModel.data.trade_volume_btc }}</span>
            </li>
          </ul>
        </div>
      </div>
    </div>

  </div>

  <div class="row pt-4">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Transaction Summary</h5>
          <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Total Transaction Fees (BTC)
              <span class="badge badge-primary badge-pill">{{ vModel.data.total_fees_btc }}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Number of Transactions
              <span class="badge badge-primary badge-pill">{{ vModel.data.n_tx | number }}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Total Output Volume (BTC)
              <span class="badge badge-primary badge-pill">{{ vModel.data.total_btc_sent }}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Estimated Transaction Volume (BTC)
              <span class="badge badge-primary badge-pill">{{ vModel.data.estimated_btc_sent }}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Estimated Transaction Volume (USD)
              <span class="badge badge-primary badge-pill">{{ vModel.data.estimated_transaction_volume_usd | currency: 'USD' }}</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="row pt-4">

    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Mining Cost</h5>
          <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Total Miners Revenue (USD)
              <span class="badge badge-primary badge-pill">{{ vModel.data.miners_revenue_usd | currency: 'USD' }}</span>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Hash Rate and Electricity Consumption</h5>
          <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Difficulty
              <span class="badge badge-primary badge-pill">{{ vModel.data.difficulty | number }}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Hash Rate (GH/s)
              <span class="badge badge-primary badge-pill">{{ vModel.data.hash_rate | number }}</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>


