<ngb-tabset>
  <ngb-tab title="Exchange Rate">
    <ng-template ngbTabContent>
      <bmd-exchange-rates-container></bmd-exchange-rates-container>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="Statistics">
    <ng-template ngbTabContent>
      <bmd-statistics-container></bmd-statistics-container>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="Charts">
    <ng-template ngbTabContent>
      <bmd-statistics-charts-container></bmd-statistics-charts-container>
    </ng-template>
  </ngb-tab>
</ngb-tabset>
