/* You can add global styles to this file, and also import other style files */
@import './../node_modules/bootstrap/scss/bootstrap.scss';

body {
  overflow: hidden;
}

.o-stretch-max {
  position: absolute;
  top: 0px;
  left: 0;
  right: 0;
  bottom: 0;
}

.c-main {
  @extend .o-stretch-max;
  top: 48px;

  .c-main__content {
    @extend .d-block;
    @extend .o-stretch-max;
  }
}


.tab-content {
  @extend .o-stretch-max;
  top: 42px;

  .tab-pane {
    @extend .o-stretch-max;
    @extend .p-2;
    overflow-y: scroll;
  }
}
