.c-main {
  @extend .o-stretch-max;
  top: 48px;

  .c-main__content {
    @extend .d-block;
    @extend .o-stretch-max;
  }
}

.c-chart {
  width: 100%;
  min-height: 200px;
}


.c-navbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: $c-navbar-height;
  overflow: hidden;
}

.c-content {
  @extend .o-stretch-max;
  top: $c-navbar-height;
  overflow-y: scroll;
}


.tab-content {
  @extend .o-stretch-max;
  top: 42px;
  background: #22252a;

  .tab-pane {
    @extend .o-stretch-max;
    @extend .p-2;
    overflow: hidden;
  }
}

.nav-tabs {

  .nav-link {
    border-top-width: 4px;
  }

  .nav-link.active {
    border-top-color: $primary;
  }
}



@keyframes rotate {
	100% {
		transform: rotate(360deg);
	}
}

$loader-duration: 1s;



.c-loader {
  width: 250px;
  height: 250px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.c-loader--circle-pulse-multiple {

	.c-loader__items {
		width: $loader-height;
		height: $loader-height;


		>div {
			position: absolute;
			top: $loader-height * .24;
			left: $loader-height * .24;
			width: 50%;
			height: 50%;
			border: 2px solid $loader-color;
			border-radius: 50%;
			animation: circlePulse $loader-duration ease infinite;
		}

		.c-loader__item--circle-2 {
			animation-delay: -.9s;
		}

		.c-loader__item--circle-3 {
			animation-delay: -.8s;
		}

	}
}


@keyframes circlePulse {

	0% {
		transform: scale(.1);
	}

	80% {
		opacity: .8;
	}

	100% {
		transform: scale(1);
		opacity: 0;
	}
}


.c-table {
  display: table;
  width: 100%;
  table-layout: fixed;

  &__header-row, &__row {
    display: table-row;

  }

  &__row.selected,
  &__row.selected .cdk-column-currency,
  &__row.selected .cdk-column-buy,
  &__row.selected .cdk-column-sell {
    background: $primary !important;
    color: white;
  }

  &__cell, &__header-cell {
    display: table-cell;
    border-bottom: 1px solid $border-color;
    align-items: center;
    padding: 10px 8px;
  }

  &__header-cell {
    background-color: $border-color;
    font-weight: bold;
    position: sticky;
    z-index: 2;
    top: 0;
  }

  .cdk-column-currency {
    width: 80px;
  }
  .cdk-column-symbol, .cdk-column-m, .cdk-column-last, .cdk-column-sell, .cdk-column-buy {
    width: 100px;
  }

  .c-table__header {

    .cdk-column-currency {
      left: 0;
    }

    .cdk-column-buy {
      right: 0;
    }

    .cdk-column-sell {
      right: 100px;
    }
  }

  .c-table__row {

    .cdk-column-currency {
      position: sticky;
      z-index: 1;
      left: 0;
      background: $border-color;
    }

    .cdk-column-buy, .cdk-column-sell {
      position: sticky;
      z-index: 1;
      right: 0;
      background: $border-color;
    }

    .cdk-column-sell {
      right: 100px;
    }
  }
}

