$color-palette: (
  color-1: #864DD9,
  color-2: lighten(#22252a, 5%),
  color-3: lighten(#22252a, 70%),
  color-4: lighten(#22252a, 10%),
  color-5: #22252a
);

$primary: map-get($color-palette, color-1);
$body-bg: map-get($color-palette, color-2);
$body-color: map-get($color-palette, color-3);
$link-color: $body-color;
$border-color: map-get($color-palette, color-4);
$card-bg: $body-bg;
$dropdown-bg: $body-bg;
$custom-select-bg: $body-bg;
$list-group-bg: $body-bg;
$list-group-border-color: $border-color;
$table-bg: $body-bg;
$table-border-color: $border-color;
$input-bg: $body-bg;
$input-disabled-bg: $body-bg;
$input-color: $body-color;
$input-border-color: $border-color;
$input-group-addon-bg: $body-bg;
$custom-control-indicator-bg: $body-bg;
$component-active-bg: $body-bg;
$component-active-color: $body-bg;
$nav-tabs-border-color: $border-color;
$nav-tabs-link-active-color: #bfc1c4;
$nav-tabs-link-active-border-color: $border-color;
$nav-tabs-link-hover-border-color: $border-color;

$font-size-base: .75rem;

$loader-height: 100px !default;
$loader-width: 100px !default;
$loader-color: $primary !default;
$loader-duration: 2.0s !default;

$c-navbar-height: 48px;


@import './../node_modules/bootstrap/scss/bootstrap.scss';


