body {
  overflow: hidden;
}

.o-stretch-max {
  position: absolute;
  top: 0px;
  left: 0;
  right: 0;
  bottom: 0;
}

body {
  background: rgb(66,50,92);
  background: linear-gradient(90deg, rgba(66,50,92,1) 0%, rgba(86,107,159,1) 100%);
}

body::-webkit-scrollbar, .tab-pane::-webkit-scrollbar, .c-content::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}

body::-webkit-scrollbar-track, .tab-pane::-webkit-scrollbar-track, .c-content::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

body::-webkit-scrollbar-thumb, .tab-pane::-webkit-scrollbar-thumb, .c-content::-webkit-scrollbar-thumb {
  background-color: $gray-600;
  outline: 1px solid $gray-800;
}
