<div class="form-inline">

    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text">{{ currencySymbol }}</div>
      </div>

      <nz-input-number [ngModel]="val" [nzMin]="0"  (ngModelChange)="updateConvert('value', $event)"></nz-input-number>
    </div>


    <div class="input-group ml-2">
      <nz-select style="width: 120px;" [ngModel]="selectedCurrency" nzAllowClear nzPlaceHolder="Currency" (ngModelChange)="updateConvert('currency', $event)">
        <nz-option [nzValue]="currency.currency" [nzLabel]="currency.currency" *ngFor="let currency of currencies"></nz-option>
      </nz-select>
    </div>

    <div class="input-group ml-2">
      <div class="input-group-prepend">
        <div class="input-group-text">BTC</div>
      </div>
      <input class="form-control" [attr.value]="convert.convert.btc" type="text" placeholder="?"  disabled="disabled">
    </div>
</div>
