<div class="form-inline">

    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text">{{ currencySymbol }}</div>
      </div>
      <input class="form-control" type="number" placeholder="200" #value (change)="updateConvert('value', $event.target.value)">
    </div>


    <div class="input-group ml-2">
      <select class="form-control" #currency  [ngModel]="selectedCurrency" (change)="updateConvert('currency', $event.target.value)">
        <option value="">currency</option>
        <option [attr.value]="currency.currency" *ngFor="let currency of currencies">{{ currency.currency }}</option>
      </select>
    </div>

    <div class="input-group ml-2">
      <div class="input-group-prepend">
        <div class="input-group-text">BTC</div>
      </div>
      <input class="form-control" [attr.value]="convert.convert.btc" type="text" placeholder="?"  disabled="disabled">
    </div>
</div>
