<nz-card [nzTitle]="vModel.update | date: 'yyyy-MM-dd HH:mm:ss'" [nzExtra]="refreshTemplate">
  <div nz-card-grid [ngStyle]="{ width: '100%' }">
    <bmd-converter-view
      [currencies]="vModel.data.currencies"
      [convert]="vModel.data.convert"
      [selectedCurrency]="vModel.data.activeCurrency"
      (convertToBtc)="vActions.emit({ type: 'convert', e: $event })"
      (selectCurrency)="vActions.emit({ type: 'selectCurrency', e: $event })">
    </bmd-converter-view>
  </div>
  <div nz-card-grid [ngStyle]="{ width: '100%' }">
    <bmd-market-prices-view
      [prices]="vModel.data.marketPrices"
      [selectedCurrency]="vModel.data.activeCurrency"
      (selectCurrency)="vActions.emit({ type: 'selectCurrency', e: $event })">
    </bmd-market-prices-view>
  </div>
</nz-card>
<ng-template #refreshTemplate>
  <button nz-button nzType="default" nzShape="circle" (click)="vActions.emit({ type: 'refresh', e: null })"><i nz-icon type="reload"></i></button>
</ng-template>

