<nz-table #basicTable [nzData]="dataSource" [nzShowPagination]="false" [nzFrontPagination]="false" [nzScroll]="{ y: '240px' }">
    <thead>
      <tr>
        <th nzWidth="150px">Currency</th>
        <th nzWidth="150px">15m</th>
        <th nzWidth="150px">buy</th>
        <th nzWidth="150px">last</th>
        <th nzWidth="150px">sell</th>
        <th nzWidth="150px">symbol</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data" [class.selected]="data.currency == selectedCurrency" (click)="selectCurrency.emit(data.currency)">
        <td>{{data.currency}}</td>
        <td>{{data['15m']}}</td>
        <td>{{data.buy}}</td>
        <td>{{data.last}}</td>
        <td>{{data.sell}}</td>
        <td>{{data.symbol}}</td>
      </tr>
    </tbody>
  </nz-table>

